<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toutes les classes</title>
  </head>
  <body>
    <h1>test</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
      architecto itaque officiis neque unde ullam praesentium inventore
      consequatur blanditiis rerum recusandae eaque deserunt porro ex nemo
      minima reprehenderit, in corporis.
    </p>
  </body>
</html>
