html 
  body
    div 
      h1 mon futur html
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ducimus laudantium aliquid repudiandae ratione aut doloremque voluptatum, saepe commodi laborum qui impedit eligendi quis itaque fuga quam sapiente accusantium modi.
      p
        | thom
        | glop
  script (src="../utils/main.js")
  