<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing Classes</title>
  </head>
  <body>
    <h1>Surprise motherfuker</h1>
    <% const fruits = ["apple", "pear", "orange", "lemon"] %>

    <h3>voici la liste de fruits</h3>
    <ul>
      <% fruits.map((each) => { %>
      <li><%= each %>s</li>
      <% }) %>
    </ul>
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
